body {
  font-family: Arial, sans-serif;
}


/* Laptops and desktops */
@media (max-width: 1024px) {
  .resource-card {
    flex: 1 0 46%;
  }

  .search-bar input {
    width: calc(100% - 30px);
  }

  .search-bar i {
    right: 1.5rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .resource-card {
    flex: 1 0 46%;
  }

  .search-bar input {
    width: calc(100% - 30px);
  }

  .search-bar i {
    right: 1.5rem;
  }
}

/* Mobile devices */
@media (max-width: 576px) {
  .resource-card {
    flex: 1 0 100%;
  }

  .search-bar {
    flex-direction: column;
  }

  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-bar i {
    position: static;
  }
}



.image-container {
  flex: 1;
  position: relative;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.image-container img {
  max-width: 60%;
  max-height: 40%;
  border-radius: 5px;
}
